.card {
  background: none !important;
  border: none !important;
}

.lazyload-wrapper .card-img {
  border-radius: 0 !important;
  min-height: 233px!important;
  max-height: 233px!important;
  object-fit: cover;
}

.fade-appear {
  opacity: 0.01;
}

.card-title-container {
  background: #020202;
  text-align: center;
  font-weight: 100;
  font-size: 1.4rem;
  color: yellow;
  width: 100%;
  padding: .55rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-subtitle-container {
  background: #355463;
  font-size: 0.8em;
  font-weight: normal;
  text-align: right;
  padding: .25rem .55rem;
  color: rgba(246, 205, 77, 0.7);
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-block {
  padding: .5rem;
}

.card-text {
  font-size: 1.1rem;
  margin: 0;
}

.card-block a {
  color: #020202;
}

.card-info {
  width: 100%;
  margin-bottom: 1.5rem;
  line-height: 2.5;
}

.card-heading {
  font-size: .9rem;
  font-weight: bold;
  line-height: 1.25rem;
  margin-top: 10px;
}

.card-social-share {
  width: 1.75rem;
  height: 1.75rem;
  enable-background: new 0 0 24 24;
  display: block;
}

.card-social {
  height: 100%;
  margin-top: 10px;
  white-space: nowrap;
  flex-wrap: nowrap;
  display: flex;
}

.social-link-fb svg,
.social-link-tw svg {
  height: 1.7rem;
  cursor: pointer;
}